article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

body {
    font-family: Helvetica, Arial, sans-serif
}

#wrapper {
    width: 1000px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 200px;
}

nav {
    width: 1000px;
}

#content {
    float: left;
    width: 710px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#content h1 {
    font-size: 24px;
    padding-top: 25px;
}

#content h2 {
    font-size: 18px;
    padding-top: 25px;
    font-weight: 200;
}

#content p {
    font-size: 12px;
    padding-top: 15px;
    line-height: 16px;
}

#rightcol {
    float: right;
    width: 230px;
    padding-left: 20px;
}

#rightcol h2 {
    font-size: 18px;
    padding-top: 25px;
    font-weight: 400;
}

#rightcol h3 {
    font-size: 16px;
    padding-top: 25px;
    font-weight: 200;
}

#rightcol p {
    font-size: 12px;
}

footer {
    clear: both;
    height: 50px;
}

footer p {
    font-size: 11px;
    color: #333;
    padding-left: 40px;
}


/* Navigation bar code from Listamtic
http://css.maxdesign.com.au/listamatic/horizontal03.htm */

nav ul {
    padding-left: 0px;
    margin-left: 0px;
    background-color: #209a9b;
    float: right;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 1em;
    padding: 10px 16px;
    background-color: #209a9b;
    color: #FFF;
    text-decoration: none;
    float: right;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

nav ul li a:hover {
    background-color: #999;
    color: #fff;
}

.highlight a {
    background-color: #999;
}